<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="autohotkey" />
    <package id="git" />
    <package id="vim" />
    <package id="peco" />
    <package id="fzf" />
    <package id="7zip" />
    <package id="golang" />
    <package id="dropbox" />
    <package id="teraterm" />
    <package id="llvm" />
</packages>
